---
import Layout from '../../layouts/Layout.astro';
import BlogHeader from '../../components/BlogHeader.astro';
import { publishedPosts } from '../../lib/posts';

export async function getStaticPaths() {
	return publishedPosts.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry }
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={`${entry.data.title} | Tommy Palmer`}>
	<section
		style={{
			'--title-color': entry.data.titleColor,
			'--background-color': entry.data.titleBgColor
		}}
	>
		<header>
			<BlogHeader post={entry.data} />
		</header>
		<article class="post">
			<Content />
			<!-- <small>Published on {date}</small> -->
		</article>
	</section>
</Layout>

<style>
	section {
		/* padding: var(--margin-6xl) 0rem 0; */
	}
	article {
		width: 100%;
		/* margin: 0 auto; */
		font-size: 1.5rem;
		padding: 0 1rem;
	}

	h1 {
		font-size: var(--text-3xl);
		line-height: 1;
	}

	.subtitle {
		display: flex;
		justify-content: space-between;
	}

	.subtitle h2 {
		font-size: var(--text-xl);
		line-height: 1;
	}

	.tags {
		font-size: var(--text-lg);
	}

	.tags ul {
		list-style: none;
		display: inline-flex;
		font-size: var(--text-lg);
	}

	.tags li {
		display: inline;
		margin-right: 0.5rem;
	}

	.tags li:not(:last-child)::after {
		content: ', ';
	}

	@media (min-width: 768px) {
		article {
			max-width: 70vw;
		}
	}
</style>

<style is:global>
	article.post {
		margin-top: var(--margin-xl);
	}

	article.post p {
		font-size: var(--text-xl);
		line-height: 1.1;
		margin-bottom: var(--margin-xl);
		text-wrap: pretty;
	}

	article.post a {
		color: var(--text-color);
		text-decoration-color: var(--background-color);
	}

	article.post a:hover {
		color: var(--title-color);
	}

	article.post h2 {
		font-size: var(--text-3xl);
		line-height: 1.25;
		margin-bottom: var(--margin-md);
	}

	article.post h3 {
		font-size: var(--text-2xl);
		line-height: 1.25;
		margin-bottom: var(--margin-md);
	}

	article.post blockquote {
		border-left: 0.5rem solid var(--background-color);
		padding-left: 1rem;
	}

	article.post iframe {
		aspect-ratio: 16 / 9;
		width: 100%;
		margin-bottom: var(--margin-lg);
	}

	article.post p:has(img) {
		margin: 0;
		width: 100vw;

		display: flex;
		flex-wrap: wrap;
		gap: 1rem;

		overflow-y: scroll;
		scroll-snap-type: y mandatory;
	}

	article.post p:has(img) > img {
		width: auto;
		max-height: 30rem;
		object-fit: cover;
		scroll-snap-align: start;
	}
</style>
