---
import Layout from '../../layouts/Layout.astro';
import BlogHeader from '../../components/BlogHeader.astro';
import {allPosts} from '../../lib/posts';

export async function getStaticPaths() {
	return allPosts.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry }
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={`${entry.data.title} | Tommy Palmer`}>
	<section
		style={{
			'--title-color': entry.data.titleColor,
			'--background-color': entry.data.titleBgColor
		}}
	>
		<header>
			<BlogHeader post={entry.data} />
		</header>
		<article>
			<Content />
			<!-- <small>Published on {date}</small> -->
		</article>
	</section>
</Layout>

<style>
	section {
		/* padding: var(--margin-6xl) 0rem 0; */
	}
	article {
		max-width: 70rem;
		/* margin: 0 auto; */
		font-size: 1.5rem;
		padding: 0 1rem;
	}

	h1 {
		font-size: var(--text-3xl);
		line-height: 1;
	}

	.subtitle {
		display: flex;
		justify-content: space-between;
	}

	.subtitle h2 {
		font-size: var(--text-xl);
		line-height: 1;
	}

	.tags {
		font-size: var(--text-lg);
	}

	.tags ul {
		list-style: none;
		display: inline-flex;
		font-size: var(--text-lg);
	}

	.tags li {
		display: inline;
		margin-right: 0.5rem;
	}

	.tags li:not(:last-child)::after {
		content: ", ";
	}
</style>

<style is:global>
	article {
		margin-top: var(--margin-xl);
	}

	article p {
		font-size: var(--text-xl);
		line-height: 1.25;
		margin-bottom: var(--margin-xl);
		text-wrap: pretty;
	}

	article a {
		color: var(--text-color);
		text-decoration-color: var(--background-color);
	}

	article a:hover {
		color: var(--title-color);
	}

	article h2 {
		font-size: var(--text-3xl);
		line-height: 1.25;
		margin-bottom: var(--margin-md)
	}

	blockquote {
		border-left: 0.5rem solid var(--background-color);
		padding-left: 1rem;
	}
</style>
