---
import Layout from '../../layouts/Layout.astro';
import BlogHeaderLink from '../../components/BlogHeaderLink.astro';
import { publishedPosts } from '../../lib/posts';
import ArrowHeader from '../../components/ArrowHeader.astro';
---

<Layout title="Blog">
	<main>
		<ArrowHeader angle="-45">Blog posts</ArrowHeader>
		{publishedPosts.map((post) => <BlogHeaderLink post={post} />)}
	</main>
</Layout>

<style></style>
