---
import Layout from '../../../layouts/Layout.astro';
import { categories, publishedPosts } from '../../../lib/posts';
import ArrowHeader from '../../../components/ArrowHeader.astro';
import BlogHeaderLink from '../../../components/BlogHeaderLink.astro';
import { toTitleCase } from '../../../lib/utils';

export async function getStaticPaths() {
	return categories.map((category) => ({
		params: { slug: category },
		props: {
			category: toTitleCase(category),
			posts: publishedPosts.filter((post) => post.data.categories.indexOf(category) !== -1)
		}
	}));
}

const { category, posts } = Astro.props;
---

<Layout title={`${category} posts | Blog`}>
	<main>
		<ArrowHeader>{category} posts</ArrowHeader>

		{posts.map((post) => <BlogHeaderLink post={post} />)}
	</main>
</Layout>
