@import url("https://use.typekit.net/swl5ylw.css");

$header-font-family: "futura-pt", "Helvetica Neue", Arial, Sans-serif;
$font-family: "jaf-facitweb", "Helvetica Neue", Arial, Sans-serif;

@mixin header-formatting {
  font-family: $header-font-family;
  text-transform: uppercase;
  text-align: center;
}

.title {
  margin-top: 75px;
  h1 {
    @include header-formatting;
    color: #fff;
    background: #0b0c0c;
    font-size: 88px;
    text-align: center;
    margin: 0;
    padding: 1em 0;
    font-weight: normal;
  }
}

.main {
  max-width: 680px;
  margin: 75px auto;
  color: #0b0c0c;
  font-family: $font-family;

  h2,
  h3,
  h4 {
    @include header-formatting;
    margin: 1.5em 0 0.5em 0;
  }

  h2 {
    font-size: 54px;
  }

  h3 {
    font-size: 38px;
  }

  h4 {
    font-size: 26px;
  }

  p,
  li {
    font-size: 18px;
    font-family: $font-family;
  }

  blockquote {
    border-left: none;
    padding: 0 1em;
  }
}

@media screen and (max-width: 700px) {
  .content {
    header {
      h1 {
        font-size: 50px;
      }
    }
    .main {
      h2 {
        font-size: 27px;
      }
    }
  }
}
