@import url("https://use.typekit.com/kmu4ycw.css");

$rumble-body: "ff-tisa-web-pro", Palatino, Georgia, serif;

$rumble-headline: "futura-pt", "Helvetica Neue", Arial, Sans-serif;

.body {
  background: #000;
}

.content {
  background-image: url("./logo.png");
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: 40px;
  padding-top: 300px;
  a {
    color: #fff;
    border-bottom: 1px solid #fff;
  }
  p,
  h1,
  h2,
  h3,
  h4 {
    color: #fff;
  }

  h1 {
    font-size: 1.95em;
    letter-spacing: 0.22em;
    text-transform: uppercase;
  }
  h1,
  h2 {
    text-align: center;
  }
  h1 {
    font-family: $rumble-headline;
    font-weight: bold;
    // padding-bottom: 0;
  }

  h2 {
    font-family: $rumble-body;
    font-size: 17px;
  }
  p {
    font-family: $rumble-body;
  }
  section {
    max-width: 30em;
    font-size: 1em;
    margin: 60px auto 0;
  }
}

.header {
  border-bottom: 1px solid #fff;
  li {
    a {
      color: #fff;
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    article {
      background: none;
      padding-top: 0;
    }
  }
}
