---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
	<header>
		<h1>About Tommy</h1>
	</header>
	<article>
		<p>
			I'm from Belfast and live in London. I haven't lost my accent. You can usually spot me by my
			red hair and beard.
		</p>
		<p>
			I'm a huge fan of electronic music and sometimes DJ as <a
				href="https://soundcloud.com/syntax-terrorist">Syntax Terror</a
			>. I like to spend my Summer at music festivals.
		</p>

		<p>
			I also like art, design, brutalism, mid-century modern architechure and furniture, colourful
			things, fancy <s
				><a href="https://www.urbandictionary.com/define.php?term=gutties">gutties</a></s
			> trainers, interesting indie videogames, and a lovely pint in a lovely pub.
		</p>

		<p>
			I've worked in tech at big and small companies for over ten years. At the moment I'm working
			on <a href="https://castrooms.com">Castrooms</a> - a new DJ streaming platform. I've
			previously worked for <a href="https://deliveroo.co.uk">Deliveroo</a> and the
			<a href="https://www.gov.uk/government/organisations/government-digital-service"
				>Government Digital Service</a
			>.
		</p>
		<p>
			I've built some things just for me that other people use, like <a
				href="https://www.lineup.fun/">Lineup.fun</a
			>
			 and <a href="https://www.isitshortsweathertoday.com/">Is it Shorts Weather today</a>.
		</p>

		<p>I like building fun things for users that solve interesting problems.</p>
	</article>
</Layout>

<style>
	header {
		padding: 0 1rem;
		border-bottom: 1px solid var(--border-color);
		background: var(--button-hover-background-color);
		color: var(--button-hover-text-color);
		display: flex;
	}

	h1 {
		font-size: var(--text-6xl);
	}

	article {
		padding: 1rem;
		max-width: 100%;
	}

	p {
		font-size: var(--text-xl);
		line-height: 1.1;
		margin-bottom: var(--margin-xl);
		text-wrap: pretty;
	}

	a {
		color: var(--text-color);
	}

	a:hover {
		color: var(--lime-5);
		text-decoration-color: var(--text-color);
	}

	@media (min-width: 768px) {
		article {
			max-width: 70vw;
		}
	}
</style>
