---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Tommy Palmer">
	<main>
		<div class="hero">
			<h1>Hi, I'm Tommy. <br/>I'm a Web developer working at Sona.</h1>
		</div>
	</main>
</Layout>

<style>
	main {
		padding: var(--margin-6xl) 1rem 0;
	}

	h1 {
		font-size: var(--text-5xl);
		font-weight: bold;
		font-style: italic;
		line-height: 1;
	}

	.hero {
		max-width: 66vw;
	}
</style>
