---
import Layout from '../layouts/Layout.astro';
import Marquee from '../components/Marquee.astro';
import BlogHeaderLink from '../components/BlogHeaderLink.astro';
import { publishedPosts } from '../lib/posts';
import Graphic from '../components/Graphic.astro';
import ArrowHeader from '../components/ArrowHeader.astro';

const blogPosts = publishedPosts.slice(0, 3);
---

<Layout>
	<div class="hero">
		<Graphic />
		<a class="marquee" href="/about">
			<Marquee>Would you like to know more?</Marquee>
		</a>
	</div>
	<div class="blog-posts">
		<div class="big-header">
			<a href="/blog">
				<ArrowHeader hoverable={true}>Blog&nbsp;posts</ArrowHeader>
			</a>
		</div>
		{blogPosts.map((post) => <BlogHeaderLink post={post} />)}
	</div>
</Layout>

<style>
	h1 {
		font-size: var(--text-6xl);
		font-weight: bold;
		font-style: italic;
		line-height: 1;
		text-align: center;
	}

	.hero {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1;
	}

	.marquee {
		border-top: 1px solid var(--border-color);
		border-bottom: 1px solid var(--border-color);
		text-decoration: none;
		color: var(--text-color);
		text-transform: uppercase;
		font-weight: bold;
	}

	.marquee:hover {
		background-color: var(--button-hover-background-color);
		color: var(--button-hover-text-color);
	}

	.big-header a {
		text-decoration: none;
	}
</style>
