---
import Layout from '../layouts/Layout.astro';
import Marquee from '../components/Marquee.astro';
import BlogHeaderLink from '../components/BlogHeaderLink.astro';
import { publishedPosts } from '../lib/posts';

const blogPosts = publishedPosts.slice(0, 3);
---

<Layout title="Tommy Palmer">
	<main>
		<div class="hero">
			<div class="tagline">
				<h1>Tommy Palmer is a <br />creative Web developer.</h1>
			</div>
			<a class="about" href="/about">
				<Marquee>Would you like to know more?</Marquee>
			</a>
		</div>
		<div class="blog-posts">
			<div class="big-header">
				<a href="/blog">
					<h2>Blog posts</h2>
					<span class="icon">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="">
							<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3" />
						</svg>						
					</span>
				</a>
			</div>
			{blogPosts.map((post) => (
				<BlogHeaderLink post={post} />
			))}
		</div>
	</main>
</Layout>

<style>
	main {
		/* padding: var(--margin-6xl) 1rem 0; */
	}

	h1 {
		font-size: var(--text-6xl);
		font-weight: bold;
		font-style: italic;
		line-height: 1;
		text-align: center;
	}

	.tagline {
		display: flex;
		flex-direction: column;
		height: 80dvh;
		justify-content: center;
		align-items: center;
	}

	.hero {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1;
	}

	.about {
		border-top: 1px solid var(--border-color);
		border-bottom: 1px solid var(--border-color);
		text-decoration: none;
		color: var(--text-color);
		text-transform: uppercase;
		font-weight: bold;
	}

	.about:hover {
		background-color: var(--button-hover-background-color);
		color: var(--button-hover-text-color);
	}



  .big-header h2 {
		/* padding: var(--margin-6xl) 0; */
		font-size: var(--text-6xl);
		margin: 0;
		padding: 0 1rem;
  }

	.big-header a {
		text-decoration: none;
		color: var(--text-color);
		display: flex;
		gap: 5rem;
		align-items: flex-end;
		border-bottom: 1px solid var(--border-color);
	}

	.big-header .icon {
		width: var(--text-10xl);
		height: var(--text-10xl);
		transition: transform 0.2s ease-in-out;
	}

	.big-header a:hover {
		background-color: var(--button-hover-background-color);
		color: var(--button-hover-text-color);
	}

	.big-header a:hover .icon {
		transform: rotate(-45deg);
	}
	
</style>
