@font-face {
	font-family: 'Mattone';
	src: url('../fonts/mattone/Mattone-150.woff') format('woff'),
		url('../fonts/mattone/Mattone-150.woff2') format('woff2');
	font-style: normal;
	font-weight: 400;
}

:root {
	--black: #111;
	--white: #eee;
	--pink: #b43eaa;
	--green: #00ff00;
	--background: var(--black);
	--foreground: var(--white);
	--highlight: var(--green);
}

::selection {
	color: var(--background);
	background-color: var(--highlight);
}

body {
	background: var(--background);
}

a {
	transition: color 0.3s, background 0.3s;
}
