/* header */
header#header {
  font-family: "League Gothic", Sans-serif;
  text-transform: uppercase;
  max-width: 70em;
  border-bottom: 1px solid #1D1D1D;
  margin: 20px auto 0 auto; }

header#header a {
  font-size: 37px;
  color: #1D1D1D;
  text-decoration: none;
  border-bottom: 0; }

nav {
  height: 36px;
  display: inline; }
  nav ul {
    padding: 0;
    list-style: none;
    display: inline;
    color: #1D1D1D; }
    nav ul li {
      font-family: "League Gothic", Sans-serif;
      line-height: 1em;
      text-transform: uppercase;
      color: #1D1D1D;
      font-size: 37px;
      display: inline;
      margin-right: 16px; }

nav#article {
  float: right; }
  nav#article ul li {
    margin-right: 0;
    margin-left: 16px; }
    nav#article ul li.next {
      float: right; }

section#cv {
  max-width: 36em;
  padding: 0 1.5em;
  margin: 5em auto 0; }

@media screen and (max-width: 560px) {
  header#header {
    margin-top: 0;
    padding-bottom: 6px; }
    header#header nav {
      width: 60%; }
      header#header nav ul li {
        text-transform: none;
        margin-right: 8px; }
        header#header nav ul li a {
          height: 100%;
          max-width: 40px;
          display: inline-block; }
          header#header nav ul li a:before {
            font-family: 'Pictos';
            content: attr(data-icon);
            font-size: 40px;
            width: 40px; }
          header#header nav ul li a span {
            display: none; }
    header#header nav#article {
      width: 120px;
      margin-right: -6px; }
  section#index {
    max-width: 100%; } }
