$header-font-family: "League Gothic", Sans-serif;

/* header */

header#header {
  font-family: $header-font-family;
  text-transform: uppercase;
  max-width: 70em;
  border-bottom: 1px solid #1D1D1D;
  margin: 20px auto 0 auto;
}

header#header a {
  font-size: 37px;
  color: #1D1D1D;
  text-decoration: none;
  border-bottom: 0;
}

nav {
  height: 36px;
  display: inline;
  ul {
    padding: 0;
    list-style: none;
    display: inline;
    color: #1D1D1D;
    li {
      font-family: $header-font-family;
      line-height: 1em;
      text-transform: uppercase;
      color: #1D1D1D;
      font-size: 37px;
      display: inline;
      margin-right: 16px;
    }
  }
}

nav#article {
  float: right;
  ul {
    li {
      margin-right: 0;
      margin-left: 16px;
      &.next {
        float: right;
      }
    }
  }
}

section#cv {
  max-width: 36em;
  padding: 0 1.5em;
  margin: 5em auto 0;
}

@media screen and (max-width: 560px) {
  header#header {
    margin-top: 0;
    padding-bottom: 6px;
    nav {
      width: 60%;
      ul {
        li {
          text-transform: none;
          margin-right: 8px;
          a {
            height: 100%;
            max-width: 40px;
            display: inline-block;
            &:before {
              font-family: 'Pictos';
              content: attr(data-icon);
              font-size: 40px;
              width: 40px
            }
            span {
              display: none;
            }
          }
          a.home {

          }
          a.info {

          }
          a.prev {

          }
          a.next {

          }
        }
      }
    }
    nav#article {
      width: 120px;
      margin-right: -6px;
    }
  }
  section#index {
    max-width: 100%;
  }

  section#info {

  }
}
