---
import Arrow from './Arrow.astro';
const { hoverable } = Astro.props;
---

<header class:list={[{ hoverable: hoverable }]}>
	<h1><slot /></h1>
	<Arrow />
</header>

<style>
	header {
		padding: 0 0.5rem;
		border-bottom: 1px solid var(--border-color);
		background: var(--button-hover-background-color);
		color: var(--button-hover-text-color);
		display: flex;
		align-items: center;
		--arrow-angle: -45deg;
	}

	header.hoverable {
		color: var(--text-color);
		background: none;
		--arrow-angle: 0deg;
	}

	header.hoverable:hover {
		color: var(--button-hover-text-color);
		background: var(--button-hover-background-color);
		--arrow-angle: -45deg;
	}

	h1 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 768px) {
		header {
			padding: 0 1rem;
		}
		h1 {
			font-size: var(--text-6xl);
		}
	}
</style>
