<span class="icon">
	<svg
		xmlns="http://www.w3.org/2000/svg"
		fill="none"
		viewBox="0 0 24 24"
		stroke-width="1.5"
		stroke="currentColor"
		class=""
	>
		<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3"
		></path>
	</svg>
</span>

<style>
	.icon {
		transform: rotate(var(--arrow-angle));
		transition: transform 0.1s ease-in-out;
		width: var(--text-3xl);
		height: var(--text-3xl);
	}
	@media (min-width: 768px) {
		.icon {
			width: var(--text-10xl);
			height: var(--text-10xl);
		}
	}
</style>
