---
const {
	post: { title, subtitle, titleColor, titleBgColor, date },
	hoverable
} = Astro.props;
const formattedDate = new Date(date).toLocaleDateString('en-GB', { dateStyle: 'full' });
---

<section class:list={['post-header', { hoverable: hoverable }]}>
	<h1>{title}</h1>
	<div class="subtitle">
		<h2>{subtitle}</h2>
		<h3>{formattedDate}</h3>
	</div>
</section>

<style define:vars={{ titleColor, titleBgColor }}>
	section {
		padding: 1rem 0.5rem;
		border-bottom: 1px solid var(--border-color);
		color: var(--titleColor);
		background-color: var(--titleBgColor);
		transition:
			color 0.2s ease-in-out,
			background-color 0.2s ease-in-out;
	}

	h1 {
		font-size: var(--text-2xl);
		line-height: 1;
	}

	.subtitle {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		margin-top: var(--margin-md);
		gap: var(--margin-md);
	}

	h2 {
		font-size: var(--text-lg);
		line-height: 1;
	}

	h3 {
		font-size: var(--text-sm);
		font-weight: 400;
	}

	@media (min-width: 768px) {
		section {
			padding: 1rem;
		}

		section.hoverable {
			color: var(--text-color);
			background: none;
		}

		section.hoverable:hover {
			color: var(--titleColor);
			background-color: var(--titleBgColor);
		}

		h1 {
			font-size: var(--text-4xl);
		}

		.subtitle {
			flex-direction: row;
			align-items: center;
		}
	}
</style>
