---
import NowPlaying from './NowPlaying.svelte';

const links = [
	{
		href: 'mailto:hi@tommyp.org',
		text: 'email'
	},
	{
		href: '/rss.xml',
		text: 'rss'
	},
	{
		href: 'https://bsky.app/profile/tommyp.bsky.social',
		text: 'BSky'
	},
	{
		href: 'https://soundcloud.com/syntax-terror-exe',
		text: 'Soundcloud'
	},
	{
		href: 'https://github.com/tommyp/',
		text: 'Github'
	}
];
---

<footer>
	<div class="text">
		<p class="tagline">Tommy Palmer built this site.</p>
		<NowPlaying client:idle />
	</div>
	<ul>
		{
			links.map((link) => (
				<li>
					<a href={link.href}>{link.text}</a>
				</li>
			))
		}
	</ul>
</footer>

<style>
	footer {
		--background: var(--button-hover-background-color);
		--text-color: var(--button-hover-text-color);
		background: var(--background);
		display: flex;
		flex-direction: column-reverse;
	}

	h3 {
		font-size: 20rem;
		text-align: center;
		font-weight: bold;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-content: flex-end;
	}

	li {
		margin: 0;
		border-bottom: 1px solid var(--text-color);
		border-right: 1px solid var(--text-color);
	}

	li:first-child {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	a {
		display: block;
		color: var(--text-color);
		text-decoration: none;
		text-transform: uppercase;
		padding: 0.5rem;
	}

	a:hover {
		background: var(--text-color);
		color: var(--background-color);
	}

	p {
		color: var(--text-color);
		padding: 0.5rem;
	}

	li:nth-child(odd) {
		border-right: none;
	}

	.text {
		display: flex;
		flex-direction: column-reverse;
	}

	.now-playing {
		text-transform: unset;
	}

	@media (min-width: 1280px) {
		footer {
			flex-direction: row;
			justify-content: space-between;
		}

		p {
			padding: 0.5rem 1rem;
		}

		ul {
			display: flex;
			align-items: flex-end;
		}

		li {
			border: 0;
			border-left: 1px solid var(--text-color);
		}

		a {
			padding: 0.5rem 1rem;
		}

		.text {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			width: 100%;
		}

		.now-playing {
			border: 0;
			border-left: 1px solid var(--text-color);
		}
	}
</style>
