---
const blocks = [
	'Tommy',
	'Palmer',
	'is',
	'a',
	'creative',
	'web',
	'developer',
	'from',
	'Belfast',
	'and',
	'living',
	'in',
	'London'
];
---

<div>
	{
		blocks.map((block, i) => {
			return <span>{block} </span>;
		})
	}
</div>

<style>
	div {
		display: flex;
		/* flex-direction: column; */
		height: 85dvh;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		flex-wrap: wrap;
	}

	span {
		display: block;
		font-size: var(--text-3xl);
		line-height: 0;
		/* text-transform: ; */
	}
</style>
