---
const blocks = [
	'Tommy',
	'Palmer',
	'is',
	'a',
	'creative',
	'web',
	'developer',
	'from',
	'Belfast,',
	'living',
	'in',
	'London.'
];

const colors = [
	'red',
	'blue',
	'pink',
	'violet',
	'yellow',
	'green',
	'cyan',
	'orange',
	'teal',
	'sand',
	'camo',
	'jungle',
	'stone'
];

const shuffledColors = colors
	.map((value) => ({ value, sort: Math.random() }))
	.sort((a, b) => a.sort - b.sort);

const blocksWithColors = blocks.map((block, i) => {
	return {
		text: block,
		color: shuffledColors[i]
	};
});
---

<div>
	<p>
		{
			blocksWithColors.map((block) => {
				return (
					<span style={`--background-color: var(--${block.color.value}-5)`}>{block.text} </span>
				);
			})
		}
	</p>
</div>

<style>
	div {
		align-items: flex-start;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	span {
		display: inline-block;
		font-size: var(--text-2xl);
		line-height: 1;
		padding: 1rem 1rem 1rem 0.5rem;
		background-color: var(--background-color);
		color: var(--gray-9);
	}

	@media (min-width: 768px) {
		span {
			font-size: var(--text-6xl);
		}
	}
</style>
