<script>
	// @ts-ignore
	import { Engine, Render, Runner, Bodies, Composite } from 'matter-js';

	// module aliases

	const container = document.querySelector('[data-matter-container]');

	// create an engine
	var engine = Engine.create();

	// create a renderer
	var render = Render.create({
		element: container,
		engine: engine,
		options: {
			width: window.innerWidth,
			height: container?.clientHeight || 0,
			background: 'transparent'
		}
	});

	console.log(container?.clientHeight);

	const middle = window.innerWidth / 2;

	// create two boxes and a ground
	var boxA = Bodies.rectangle(middle, 200, 80, 80);
	var boxB = Bodies.rectangle(middle, 50, 80, 80);
	var ground = Bodies.rectangle(middle, container?.clientHeight || 0, window.innerWidth, 1, {
		isStatic: true
	});

	// add all of the bodies to the world
	Composite.add(engine.world, [boxA, boxB, ground]);

	// run the renderer
	Render.run(render);

	// create runner
	var runner = Runner.create();

	// run the engine
	Runner.run(runner, engine);
</script>

<div data-matter-container></div>

<style>
	div {
		display: flex;
		flex-direction: column;
		height: 85dvh;
		justify-content: center;
		align-items: center;
	}
</style>
