---
const links = [
	{
		label: 'Blog',
		url: '/blog'
	},
	{
		label: 'About',
		url: '/about'
	},
	{
		label: 'Links',
		url: '/links'
	}
];

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.split('/')[1];
const activeLink = links.find((link) => link.url === `/${currentPath}`);
---

<header>
	<nav>
		<ul>
			<li>
				<h1>
					<a class={currentPath == '' ? 'active' : ''} href="/">Tommy Palmer</a>
				</h1>
			</li>
			{
				links.map((link) => (
					<li>
						<a class={link == activeLink ? 'active' : ''} href={link.url}>
							{link.label}
						</a>
					</li>
				))
			}
		</ul>
	</nav>
</header>

<style>
	header {
		font-weight: bold;
		text-transform: uppercase;
		font-size: var(--text-lg);
		width: 100%;
	}

	h1 {
		font-size: inherit;
		font-weight: inherit;
		margin: 0;
	}

	ul {
		display: flex;
		list-style: none;
		margin: 0;
		flex-direction: column;
		/* justify-items: stretch; */
	}

	li {
		flex: 1;
	}

	a {
		width: 100%;
		background-color: var(--button-background-color);
		display: flex;
		align-items: center;
		text-decoration: none;
		color: var(--button-text-color);
		padding: 0.5rem 0.5rem;
	}

	a.active,
	a:hover {
		background-color: var(--button-hover-background-color);
		color: var(--button-hover-text-color);
	}

	@media (min-width: 576px) {
		ul {
			flex-direction: row;
		}

		li {
			border-right: 1px solid var(--border-color);
		}

		li:last-child {
			border-right: none;
		}

		a {
			background-color: var(--bg-color);
			color: var(--text-color);
		}

		header {
			border-bottom: 1px solid var(--border-color);
		}
	}
</style>
