<div class="marquee">
	<div class="inner" aria-hidden="true">
		<span><slot /></span>
		<span><slot /></span>
		<span><slot /></span>
		<span><slot /></span>
	</div>
</div>

<style>
	.marquee {
		--move-final: calc(-50% + var(--offset));
		--move-initial: calc(-25% + var(--offset));
		--offset: 25vw;
		border-bottom: 1px solid var(--border-color);
		border-top: 1px solid var(--border-color);
		color: var(--text-color);
		font-weight: bold;
		overflow: hidden;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		transition: all 0.2s ease-in-out;
	}

	.inner {
		width: fit-content;
		display: flex;
		position: relative;
		transform: translate3d(var(--move-initial), 0, 0);
		animation: marquee 10s linear infinite;
		animation-play-state: playing;
	}

	.marquee span {
		font-size: var(--text-xl);
		padding: 0 2vw;
		text-wrap: nowrap;
	}

	.marquee:hover {
		background-color: var(--button-hover-background-color);
		color: var(--button-hover-text-color);
	}

	@keyframes marquee {
		0% {
			transform: translate3d(var(--move-initial), 0, 0);
		}

		100% {
			transform: translate3d(var(--move-final), 0, 0);
		}
	}
</style>
