<p class="now-playing">Now playing: Orbital - Belfast</p>

<style>
	p {
		color: var(--text-color);
		padding: 0.5rem;
	}

	.now-playing {
		border-bottom: 1px solid var(--text-color);
	}

	@media (min-width: 992px) {
		p {
			padding: 0.5rem 1rem;
		}

		.now-playing {
			border: 0;
			border-left: 1px solid var(--text-color);
		}
	}
</style>
