$header-font-family: "quatro", "Helvetica Neue", Arial, Sans-serif;
$font-family: "nimbus-sans", "Helvetica Neue", Arial, Sans-serif;
$teal: #83d8ef;
$green: #2bd887;

@mixin header-formatting {
  font-family: $header-font-family;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  background: #83d8ef;
  background: -moz-linear-gradient(top, #83d8ef 0%, #2bd887 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#83d8ef), color-stop(100%,#2bd887));
  background: -webkit-linear-gradient(top, #83d8ef 0%,#2bd887 100%);
  background: -o-linear-gradient(top, #83d8ef 0%,#2bd887 100%);
  background: -ms-linear-gradient(top, #83d8ef 0%,#2bd887 100%);
  background: linear-gradient(to bottom, #83d8ef 0%,#2bd887 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83d8ef', endColorstr='#2bd887',GradientType=0 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

header#header {
  border-bottom: 1px solid $green;
}

article {
  header {
    h1 {
      @include header-formatting;
      font-size: 200px;
      text-align: center;
      margin: 0;
      padding: 0.25em 0;
    }
  }
}

#main {
  max-width: 680px;
  margin: 0px auto;
  font-family: $font-family;
  p {
    font-size: 20px;
  }

  a {
    color: darken($green, 20%);
    border-bottom: 1px solid darken($green, 20%);
    &:hover {
      color: darken($green, 40%);
      border-bottom: 1px solid darken($green, 40%);
    }
  }

  h2, h3, h4 {
    @include header-formatting;
    margin: 1.5em 0 0.5em 0;
  }

  h2 {
    font-size: 54px;
  }

  h3 {
    font-size: 38px;
  }

  h4 {
    font-size: 26px;
  }

  p, li {
    font-size: 18px;
    font-family: $font-family;
  }

  blockquote {
    border-left: none;
    padding: 0 1em;
  }
}

@media screen and (max-width: 1220px) {
  article {
    header {
      h1 {
        font-size: 100px;
        padding: 0.5em 0;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  article {
    header {
      h1 {
        font-size: 50px;
      }
    }
    section#main {
      h2 {
        font-size: 27px;
      }
    }
  }
}
