body {
//  background: #5e5e5e; /* Old browsers */
//  background: -moz-linear-gradient(top,  #5e5e5e 0%, #a5a5a5 35%, #ededed 100%); /* FF3.6+ */
//  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e5e5e), color-stop(35%,#a5a5a5), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
//  background: -webkit-linear-gradient(top,  #5e5e5e 0%,#a5a5a5 35%,#ededed 100%); /* Chrome10+,Safari5.1+ */
//  background: -o-linear-gradient(top,  #5e5e5e 0%,#a5a5a5 35%,#ededed 100%); /* Opera 11.10+ */
//  background: -ms-linear-gradient(top,  #5e5e5e 0%,#a5a5a5 35%,#ededed 100%); /* IE10+ */
//  background: linear-gradient(top,  #5e5e5e 0%,#a5a5a5 35%,#ededed 100%); /* W3C */
//  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

}

header {
  margin-top: 75px;
  h1 {
    font-family: 'proxima-nova', Arial, Sans-serif;
    text-align: center;
    font-size: 72px;
    color: #222;
    text-shadow: 0 1px 0 #333,
                 0 2px 0 #444,
                 0 3px 0 #555,
                 0 4px 0 #666,
                 0 5px 0 #777,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
  }
}

#main {
  max-width: 500px;
  margin: 75px auto;
  color: #000;
  font-family: 'proxima-nova', Arial, Sans-serif;
  h2 {
    font-size: 41px;
    margin-top: 15px;
  }
}

@media screen and (max-width: 700px) {
  article {
    header {
      h1 {
        font-size: 50px;
      } 
    }
    section#main {
      h2 {
        font-size: 27px;
      }
    }
  }
}