$form-width: 800px;

body {
  background: #bec4ce; /* Old browsers */
  background: -moz-linear-gradient(top, #bec4ce 0%, #dce5de 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bec4ce), color-stop(100%,#dce5de)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bec4ce 0%,#dce5de 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bec4ce 0%,#dce5de 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #bec4ce 0%,#dce5de 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bec4ce', endColorstr='#dce5de',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #bec4ce 0%,#dce5de 100%); /* W3C */
  #content {
    #form {
      background: url(/images/contact-bg.png) repeat;
      width: 800px;
      margin: 20px auto;
      form {
        font-size: 24px;
        margin: 0 auto;
        border: 5px solid #000;
        .field {
          border-bottom: 5px solid #000;
          height: 100%;
          label {
            padding: 20px;
            width: 195px;
            display: block;
            float: left;
            font-family: aviano-slab, Georgia, Sans-serif;
            color: #AB1F18;
          }
          input, textarea {
            border: none;
            border-left: 5px solid #000;
            font-family: felt-tip-roman, Sans-serif;
            width: 540px;
            font-size: 24px;
            height: 100%;
            background: none;
          }
          input {
            width: 510px;
            padding: 13px;
          }
          span.error-message {
            display: none;
          }
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}