section#main {
  margin: 20px auto;
  width: 860px; 
  section#info {
    margin: 80px 0 0 0;
    width: 500px;
    float: left; 
    p#jess, p#jess a {
      font-size: 12px;
      color: #acacac;
    }
    p#jess a {
      border-bottom: 1px solid #acacac;
    }
  }
  section#avatar {
    width: 360px;
    height: 630px;
    float: right;
    background: url(/images/avatar.png) no-repeat;    
  }
}