!!! 5
%html{ :lang => "en", "xml:lang" => "en", :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "en", :name => "language"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    - if @description
      %meta{ "name" => "description", "content" => @description }
      - else
      %meta{ "name" => "description", "content" => "Tommy Palmer is a Web Developer who works with Ruby on Rails at Rumble Labs in Belfast, Northern Ireland." }
    - if @keywords
      %meta{ "name" => "keywords", "content" => @keywords }
      - else
      %meta{ "name" => "keywords", "content" => "Tommy, Palmer, Rails, Web, Developer, HTML, CSS, Ruby, Belfast, Rumble, Labs, Blog, Article, Design"}
      
    %title
      Tommy Palmer -
      = @title
    %link{ :href => "/css/style.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    -if @extrahead
      = @extrahead
    %script
      try{Typekit.load();}catch(e){}
    %link{:href => "/feed", :type => "application/rss+xml", :title => "TommyP.org RSS Feed", :rel => "alternate"}
  %body
    %header#header
      %nav
        %ul
          %li
            %a{:title => 'Tommy Palmer', :href => '/', :class => 'home'}(data-icon='H') 
              %span Tommy Palmer
          %li
            %a{:title => 'Work', :href => '/work', :class => 'info'}(data-icon='o')
              %span Work
          %li
            %a{:title => 'Info', :href => '/info', :class => 'info'}(data-icon='i')
              %span Info
      -if @articlenav
        = @articlenav
    %section#content
      = yield

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38390408-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    
    :javascript
      var GoSquared = {};
      GoSquared.acct = "GSN-379434-C";
      (function(w){
        function gs(){
          w._gstc_lt = +new Date;
          var d = document, g = d.createElement("script");
          g.type = "text/javascript";
          g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
          var s = d.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(g, s);
        }
        w.addEventListener ?
          w.addEventListener("load", gs, false) :
          w.attachEvent("onload", gs);
      })(window);