!!! 5
%html{ :lang => "en", "xml:lang" => "en", :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "en", :name => "language"}
    - if @description
      %meta{ "name" => "description", "content" => @description }
      - else
      %meta{ "name" => "description", "content" => "Tommy Palmer is a Web Developer who works with Ruby on Rails at Rumble Labs in Belfast, Northern Ireland." }
    - if @keywords
      %meta{ "name" => "keywords", "content" => @keywords }
      - else
      %meta{ "name" => "keywords", "content" => "Tommy, Palmer, Rails, Web, Developer, HTML, CSS, Ruby, Belfast, Rumble, Labs, Blog, Article, Design"}
      
    %title
      Tommy Palmer -
      = @title
    %link{ :href => "/css/style.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/master.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", :type => "text/javascript" }
    -if @extrahead
      = @extrahead
    %script
      try{Typekit.load();}catch(e){}
    %link{:href => "/feed", :type => "application/rss+xml", :title => "TommyP.org RSS Feed", :rel => "alternate"}
  %body
    %header
      %nav
        %ul
          %li
            %a{:title => 'Tommy Palmer', :href => '/'} Tommy Palmer
          %li
            %a{:title => 'Info', :href => '/info'} Info
      -if @articlenav
        = @articlenav
    %section#content
      = yield

    %footer

    -# haml :analytics, :layout => false
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4eb28141f5a1f53f4f000001');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
