/* basics */

$header-font-family: "league-gothic-1","league-gothic-2", Helvetica, Sans-serif;

$main-font-family: "proxima-nova-1","proxima-nova-2", "Helvetica Neue", Arial, sans-serif;

/* type */

#content {
	color: #222;
}

h1 {
  font-size: 60px;
}

h1, h2, h3, h4, h5 {
  font-family: $main-font-family;
	padding-bottom: 0.5em;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 25px;
}

p, li, blockquote {
	font-family: $main-font-family;
	line-height: 1.5em;
}

p, ol, ul {
	padding-bottom: 20px;
}

p {
	font-size: 16px;
}

li {
	font-size: 14px;
}

ul {
	list-style: square;
}

ol {
	list-style: decimal-leading-zero;
}

blockquote {
	font-family: Georgia, Serif;
	padding: 10px 0px 10px 20px;
	border-left: 3px solid #999;
	font-size: 15px;
}

cite {
	font-style: italic;
	font-family: Georgia, Serif;
	font-size: 12px;
}

section#index {
  margin: 40px auto;
  width: 960px;
  article.post {
    h1 {
      font-family: $header-font-family;
      font-size: 60px;
      text-transform: uppercase;
      a {
        border-bottom: none;
      }
    }
  }
}

#content {
  margin: 0 auto;
  width: 1120px;
}

#content a{
	color: #000;
	border-bottom: 1px solid #000;
	text-decoration: none;
	-webkit-transition: 0.3s linear;
}

#content a:hover{
	color: #666;
	border-bottom: 1px solid #666;
	-webkit-transition: 0.3s linear;
}

/* header */

header {
	font-family: $header-font-family;
	text-transform: uppercase;
	font-size: 37px;
  width: 1120px;
	margin: 20px auto 0 auto;
}

header a {
  color: #1D1D1D;
  text-decoration: none;
}

nav {
  border-bottom: 1px solid #1D1D1D;
  height: 36px;
  ul {
  	list-style: none;
  	display: inline;
  	color: #1D1D1D;
  	li {
      font-family: $header-font-family;
    	line-height: 1em;
    	text-transform: uppercase;
    	color: #1D1D1D;
    	font-size: 37px;
    	display: inline;
    	margin-right: 16px;
    }
  }
}

nav#article {
  float: right;
}
/* info */

section#main {
  margin: 20px auto;
  width: 860px; 
  section#info {
    margin: 80px 0 0 0;
    width: 500px;
    float: left; 
    p#jess, p#jess a {
      font-size: 12px;
      color: #acacac;
    }
    p#jess a {
      border-bottom: 1px solid #acacac;
    }
  }
  section#avatar {
    width: 360px;
    height: 630px;
    float: right;
    background: url(/images/avatar.png) no-repeat;    
  }
}

/* footer */

footer {
  width: 1220px;
  margin: 0 auto;
  text-align: center;
}