- @articlenav = capture_haml do 
  -#if @page.date
  /     %ul#article-nav
  /       -if @page.next
  /         %li
  /           %a{:title => 'Next', :href => @page.next } Next
  /       -if @page.prev
  /         %li
  /           %a{:title => 'Prev', :href => @page.prev } Prev

%p
  This is page.haml

%article
  ~ @page.to_html(self)

  %section.pages
    = haml :summaries, :layout => false, :locals => { :pages => @page.pages }

  - unless @page.articles.empty?
    %section.articles
      %header
        %h1= "Articles on #{@page.heading}"
      = haml :summaries, :layout => false, :locals => { :pages => @page.articles, :heading => :h3 }