- @articlenav = capture_haml do 
  -if @page.date && (previous_post|next_post)
    %nav#article
    -unless previous_post.nil?
      %li = previous_post
    -unless next_post.nil?
      %li = next_post

%article
  ~ @page.to_html(self)

  %section.pages
    = haml :summaries, :layout => false, :locals => { :pages => @page.pages }

  - unless @page.articles.empty?
    %section.articles
      %header
        %h1= "Articles on #{@page.heading}"
      = haml :summaries, :layout => false, :locals => { :pages => @page.articles, :heading => :h3 }