$knuckle-base: 10px;

$rumble-stack: "ff-tisa-web-pro-1","ff-tisa-web-pro-2",Palatino,Georgia,serif;

body {
  background: url(/images/so-you-might-have-heard/bg.jpg) repeat;
}

article {
  margin: 0 auto;
  width: 960px;
}

p, h1, h2, h3, h4 {
  font-family: $rumble-stack;
}

span.finger {
  height: $knuckle-base*10;
  width: $knuckle-base*10;
  border: $knuckle-base*2 solid #000;
  border-radius: $knuckle-base*10;
  display: inline-block;
  margin: 0 -$knuckle-base;
}

span#first, span#last {
  margin-bottom: -$knuckle-base*7;
}

span#first {
  margin-right: -$knuckle-base*2;
}

span#last {
  margin-left: -$knuckle-base*2;
}

ul#fingers {
  position: absolute;
  z-index: 6000;
}

#fingers li {
  display: inline;
  padding: 0;
  margin: 0;
}

span#semicircle {
  background-color: #fff;
  position: absolute;
  z-index: 3000;
  width: $knuckle-base*20;
  height: $knuckle-base*10;
  border: $knuckle-base*2 solid #000;
  border-top: none;
  border-bottom-right-radius: $knuckle-base*10 $knuckle-base*11;
  border-bottom-left-radius: $knuckle-base*10 $knuckle-base*11; 
  display: inline-block;
  margin-left: $knuckle-base*11.5;
  margin-top: $knuckle-base*10;
}

span#innerpalm {
  background-color: #000;
  position: absolute;
  z-index: 2500;
  width: $knuckle-base*30;
  height: $knuckle-base*6;
  border: $knuckle-base*2 solid #000;
  border-top: none;
  border-bottom-right-radius: $knuckle-base*12 $knuckle-base*5;
  border-bottom-left-radius: $knuckle-base*12 $knuckle-base*5; 
  display: inline-block;
  margin-left: $knuckle-base*6.4;
  margin-top: $knuckle-base*16;
}