$knuckle-base: 10px;

$rumble-body: "ff-tisa-web-pro-1","ff-tisa-web-pro-2",Palatino,Georgia,serif;

$rumble-headline: "futura-pt-1","futura-pt-2","Helvetica Neue", Arial, Sans-serif;

@mixin imgpath($image) {
  background-image: url("/images/so-you-might-have-heard/#{$image}");
}

p {
  font-family: $rumble-body;
}

h1 {
  font-family: $rumble-headline;
  font-weight: bold;
  padding-bottom: none;
}

h2 {
  font-family: $rumble-body;
  font-size: 17px;
}

p, h1, h2, h3, h4 {
  color: #fff;
}

h1 {
  font-size: 1.95em;
  letter-spacing: 0.22em;
  text-transform: uppercase;
}

body {
  background: #000;
}

#content {
  article {
    @include imgpath("logo.png");
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 40px;
    padding-top: 300px;
  }
  a {
    color: #fff;
    border-bottom: 1px solid #fff;
  }
  h1, h2 {
    text-align: center;
  }
  section#main {
    width: 440px;
    font-size: 16px;
    margin: 60px auto;
  }
}

header {
  border-bottom: 1px solid #fff;
  li {
    a {
      color: #fff;
    }
  }
}