@mixin imgpath($image) {
  background-image: url("/images/3-teaching-the-web/#{$image}");
}

$header-ff: "felt-tip-roman", Cursive;

$main-ff: "sorts-mill-goudy", Paltino, Georgia;

#content {
  margin-top: 80px;
}

header#header {
  border-bottom: 1px solid #DD1F1F;
}

p, li, blockquote {
  font-family: $main-ff;
  font-size: 18px;
}

blockquote {
  border-left: 4px solid #dd1f1f;
}

code {
  display: block;
  margin: 15px 0;
}

section#main {
  h1 {
    font-family: $header-ff;
    color: #dd1f1f;
    text-align: center;
    font-size: 80px;
  }
  article {
    margin: 20px auto;
    max-width: 37.5em;
    padding: 0 1.5em;
    h2 {
      font-family: $header-ff;
      color: #dd1f1f;
      font-size: 45px;
    }
    p {
      font-size: 18px;
    }
    a {
      border-bottom: 1px solid #dd1f1f;
    }
    ul {
      padding-left: 20px;
      li {
        ul {
          padding-left: 20px;
          li {
            
          }
        }
      }
    }
  }
}