body {
  background-color: #eee;
}

.visit {
  width: 137px;
  margin: 0 auto;
  a {
    padding: 0 12px;
    border-radius: 14px;
    font-size: 24px;
    font-family: proxima-nova, 'Helvetica Neue', Arial, sans-serif;
    border-bottom: none;
  }
}

.intro {
  max-width: 46.125em;
  margin: 4em auto 1em;
  padding: 1.5em;
  p {
    font-size: 1.4em;
  }
}

.projects {
  margin-top: 3em;
}

article {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 70em;
  padding: 4em 0;
}

hr {
  border-top: 1px solid #2c2c2c;
  border-bottom: 1px solid #b6b6b6;
  width: 45%;
  margin: 1em auto;
  height: 0;
  border-style: solid;
  color: #fff;
}

.gallery {
  max-width: 1068px;
  margin: 4em auto 0;
  &.links {
    display: none;
  }
  a {
    background: #fff;
    margin-right: 2em;
    display: inline-block;
    width: 19.5em;
    border-radius: 6px;
    border: 6px solid rgba(100,100,100,0.3);
    &:hover {
      border: 6px solid rgba(0,0,0,0.3);
    }
    &:last-of-type {
      margin-right: 0;
    }
    img {
      width: 100%;
    }
  }
}

.project-desc {
  padding: 0 1.5em;
  margin:0 auto 1.5em;
  h2 {
    padding: 0;
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    margin: 0 0 32px 0;
  }
  h3 {
    margin: 32px 0; 
    text-align: center;
  }
  p {
    max-width: 37.5em;
    margin: 0 auto;
    a {
      border-bottom: 1px solid #000;
    }
  }
}

.digital-circle {
  background: #fff;
  .visit {
    a {
      background: #000;
      color: #fff;
    }
  }
}

.rumble {
  background: #000;
  .project-desc {
    color: #fff;
    h2 {
      letter-spacing: 0.22em;
      text-transform: uppercase;
      font-family: "futura-pt", 'Helvetica Neue', Arial, sans-serif;
      font-size: 4em;
      font-weight: bold;
      text-align: center;
      a {
        color: #fff;
        border-bottom: none;
      }
    }
    h3 {
      text-align: center;
      font-family: "futura-pt", 'Helvetica Neue', Arial, sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.22em;
    }
    a {
      color: #fff;
      border-bottom: 1px solid #fff;
    }
    .visit {
      a {
        color: #000;
        background: #fff;
        &:hover {
          background: #AE4600;
        }
      }
    }
  }
  .mobile {
    a {
      display: block;
      border: none;
    }
    margin: 2em auto -3px;
    max-width: 20em;
    img {
      width:100%;
    }
  }
}


.shorts {
  background: url('/images/work/shorts-bg.png');
  .project-desc {
    margin: 0em auto;
    padding-top: 4em;
    padding-bottom: 2em;
    h2 {
      font-family: "futura-pt", 'Helvetica Neue', Arial, sans-serif;
      font-size: 3em;
      font-weight: normal;
      text-transform: uppercase;
      a {
        border-bottom: 0;
        color: #4B8A79;
      }
    }
    p {
      font-size: 1.4em;
      color: #4B8A79;
      font-family: "futura-pt", 'Helvetica Neue', Arial, sans-serif;
    }
    .visit {
      a {
        color: #4B8A79;
        background: #d4421f;  
        &:hover {
          color: #d4421f;
          background: #4B8A79;
        }
      }
    }
  }
  .img {
    max-width: 1004px;
    margin: 20px auto;
    img {
      width:100%;
    }
    &.mobile {
      display: none;
      max-width: 394px;
    }
  }
}

@media screen and (max-width: 1100px) {  
  .gallery {
    width: 828px;
    a {
      width: 15em;
    }
  }
}

@media screen and (max-width: 1005px) {  
  .work#content {
    .shorts {

    }
  }
}

@media screen and (max-width: 950px) {  
  .gallery {
    width: 588px;
    a {
      width: 10em;
    }
  }
}

@media screen and (max-width: 908px) {  
  .gallery {
    display: none;
    width: 268px;
    &.links {
      display: block;
    }
    a {
      width: 16em;
      display: block;
      margin-right: 0;
      margin-bottom: 3em;
    }
  }
}

@media screen and (max-width: 768px) {  
  .rumble {
    .project-desc {
      h2 {
        font-size: 1.5em;
      }
      h3 {
        font-size: 1.5em;
      }
    }
  }
}

@media screen and (max-width: 1004px) {  
  .shorts {
    .img {
      display: none;
      &.mobile {
        display: block;
      }
    }
  }
}