@mixin project {
}

.work {
  section {
    padding: 40px 0;
    width: 100%;
    div {
      margin: 0 auto;
      width: 1024px;
      display: flex;
      justify-content: space-between;
      article {
        width: 500px;
      }
      img  {
        width: 500px;
      }
    }
  }

}

.wtf {
  background: #fff;
  font-family: Helvetica, Arial, Sans-serif;
  background-image: url("/public/images/work/wtf.png");
  h1,
  h2 {
    text-transform: uppercase;
  }
}

.deliveroo {
  color: #fff;
  background-color: #00ccbc;
  background-image: url("/public/images/work/deliveroo.png");
  a {
    color: #fff;
    border-bottom: 1px solid #fff;
  }
}

@media screen and (max-width: 500px) {
  .work {
    section {
      div {
        display: block;
        width: auto;
        padding: 20px;
        article, img {
          max-width: 100%;
          margin: 0 auto;
        }
      }
    }
  }
}
