.work {
  padding: 40px 0;
  width: 100%;
  max-width: 46.125em;
  margin: 4em auto 1em;
  padding: 1.5em; }
  .work p {
    font-size: 1.4em; }

.projects section {
  padding: 40px 0;
  width: 100%; }
  .projects section div {
    margin: 0 auto;
    width: 1024px;
    display: flex;
    justify-content: space-between; }
    .projects section div article {
      width: 500px; }
    .projects section div img {
      width: 500px; }
    .projects section div h2 a {
      border-bottom: none; }

.wtf {
  background: #fff;
  background-image: url("/public/images/work/wtf.png"); }
  .wtf h1,
  .wtf h2 {
    font-family: Helvetica, Arial, Sans-serif;
    text-transform: uppercase; }

.deliveroo {
  color: #fff;
  background-color: #00ccbc;
  background-image: url("/public/images/work/deliveroo.png"); }
  .deliveroo article a {
    color: #fff;
    border-bottom: 1px solid #fff; }

@media screen and (max-width: 500px) {
  .projects section div {
    display: block;
    width: auto;
    padding: 20px; }
    .projects section div article, .projects section div img {
      max-width: 100%;
      margin: 0 auto; } }
