@import url("https://use.typekit.net/bzn5fyz.css");
.header {
  border-bottom: 1px solid #ff1d23; }

.content header h1 {
  font-family: "azo-sans-uber", "Helvetica Neue", Arial, Sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #ff1d23;
  font-size: 200px;
  text-align: center;
  margin: 0;
  padding: 0.25em 0; }

.main {
  max-width: 680px;
  margin: 0px auto;
  color: #ff1d23;
  font-family: "museo-sans", "Helvetica Neue", Arial, Sans-serif; }
  .main a {
    color: #b60005;
    border-bottom: 1px solid #b60005; }
    .main a:hover {
      color: #500002;
      border-bottom: 1px solid #500002; }
  .main h2,
  .main h3,
  .main h4 {
    font-family: "azo-sans-uber", "Helvetica Neue", Arial, Sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #ff1d23;
    margin: 1.5em 0 0.5em 0; }
  .main h2 {
    font-size: 54px; }
  .main h3 {
    font-size: 38px; }
  .main h4 {
    font-size: 26px; }
  .main p,
  .main li {
    font-size: 18px;
    font-family: "museo-sans", "Helvetica Neue", Arial, Sans-serif; }
  .main blockquote {
    border-left: none;
    padding: 0 1em; }

@media screen and (max-width: 1220px) {
  .content header h1 {
    font-size: 100px;
    padding: 0.5em 0; } }

@media screen and (max-width: 700px) {
  .content header h1 {
    font-size: 50px; }
  .content .main h2 {
    font-size: 27px; } }
