@import url("https://use.typekit.net/bsk3qna.css");
.header {
  border-bottom: 1px solid #db241e; }
  .header li a {
    color: #db241e; }

.content {
  margin: 0 auto;
  max-width: 600px;
  width: 100%; }
  .content header {
    width: 100%;
    max-width: 410px;
    margin: 2em auto 0; }
    .content header .circle {
      overflow: auto;
      border-radius: 250px;
      height: 321px;
      width: 321px;
      margin: 0 auto;
      background: #db241e;
      position: relative; }
      .content header .circle .inner {
        border-radius: 100px;
        margin: 55px 0 0 55px;
        width: 211px;
        height: 211px;
        background: #fff;
        position: relative; }
    .content header h1 {
      position: absolute;
      z-index: 100;
      background: #0019a8;
      color: #fff;
      font-family: "Gill Sans", sans-serif;
      text-align: center;
      text-transform: uppercase;
      padding: 0;
      font-weight: normal;
      top: 215px;
      width: 410px;
      height: 72px; }
    @media screen and (max-width: 400px) {
      .content header {
        width: 270px; }
        .content header .circle {
          height: 212px;
          width: 212px; }
          .content header .circle .inner {
            margin: 36px 0 0 36px;
            width: 139px;
            height: 139px; }
        .content header h1 {
          padding: 3px;
          width: 264px;
          font-size: 40px;
          top: 175px; } }

.main {
  margin: 4em 0 0 0;
  color: #222; }
  .main a {
    color: #db241e;
    border-bottom: 1px solid #db241e; }
    .main a:hover {
      color: #ae1d18;
      border-bottom: 1px solid #ae1d18; }
  .main p {
    font-family: "ff-meta-serif-web-pro", serif;
    font-size: 1.5em; }
    @media screen and (max-width: 400px) {
      .main p {
        font-size: 1.2em; } }
