Date: 26 September 2011
Summary: 4 years ago, the web was a different place. My University was teaching tables and Visual Basic. Web (design) education needs to change.
Heading: Build 2011
Title: Build 2011
id: 4

- @extrahead = capture_haml do  
  %link{:href => "/css/teaching-the-web.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
  %script{ :src => "http://use.typekit.com/pyo6cgv.js", :type => "text/javascript" }