Title: Web Developer & Designer from Belfast, Northern Ireland
Description: Tommy Palmer is a Web Developer who works with Ruby on Rails at Rumble Labs in Belfast, Northern Ireland.
Keywords: Tommy, Palmer, Rails, Web, Developer, HTML, CSS, Ruby, Belfast, Rumble, Labs, Blog, Article, Design

- @extrahead = capture_haml do   
  %script{ :src => "http://use.typekit.com/atp3yvw.js", :type => "text/javascript" }

%section#cv
    
  :markdown
    # Tommy Palmer CV

    [07724258888](callto:07724258888) - [hi@tommyp.org](mailto:hi@tommyp.org) - [http://tommyp.org](http://tommyp.org)

    ## Bio

    Since studying Interactive Multimedia Design at University I have focused my career on web development by working with startups, collaborating with clients, building products and speaking at community events.

    I’ve spent 3 years working professionally in the web industry and after I graduated University I joined Rumble Labs as a Web Developer. My work involves crafting web applications for both ourselves, and for clients.

    Studying Interactive Multimedia Design at the University of Ulster allowed me to learn both web development and design. The course covered web, UX and interaction design with a large focus on clean and valid code whilst in my own time I learnt Ruby on Rails as a way to bring more of my ideas to fruition and to learn how to build larger and more complicated web applications than what I was building in University.

    During the course, I was able to secure an industrial placement with Bluecube Interactive, one of Ireland’s leading web design agencies and worked on such clients as Aer Lingus and Bewley’s.
    
    I also attend a lot of local web and design events such as Refresh Belfast. I was invited to speak at the inaugural Belfast Ruby, which was attended by over 90 people. Following this event, I was asked to speak to the 1st year class from Interactive Multimedia Design on my career and my path through University. I’ve also been to a number of conferences such as Build and New Adventures, which were focused on web design and Ruby conferences such as Scotruby and Euruko.
    
    To become a top notch developer I think it is important to constantly expand my knowledge through personal projects and contribute to back to the community, something I’ve done through talks and writing. I would hope to continue this as my career progresses and expand my reach into contributions to the open source software community.
    
    With my background in design, knowledge of UX, and ability with Ruby on Rails, I enjoy development which combines front end development and how it interacts with the back end stack of a web application.

    Whilst I am focussed on Ruby on Rails, I am a versatile programmer and have started to further may knowledge into other languages and frameworks such as Sinatra, Backbone.js and C.

    In my spare time I enjoy music, playing videogames and reading.

    ## Education & Qualifications

    Second Class Honours Upper Division BSc Interactive Multimedia Design
    Distinction - BTEC National Diploma in Software Development for IT Practitioners
    7 GCSE C grades including Maths and English

    ## Skills:

    ### Expert:
    * HTML
    * CSS
    * Haml
    * Scss

    ### Advanced:
    * Ruby
    * Ruby on Rails
    * Photoshop
    * Git
    * UX
    * Heroku
    * Responsive Design
    * Twitter Bootstrap

    ### Intermediate:
    * JavaScript
    * Coffeescript
    * Sinatra
    * jQuery
    * Highcharts

    ### Beginner:
    * TDD
    * Cucumber
    * RSpec
    * Backbone

    ## Recent Work:

    ### Lisson Gallery

    Lisson is an art gallery with numerous showrooms in the UK and other countries. In late 2012 they came to Rumble Labs looking for a new site to showcase their artists and exhibitions. The new site needed to be backed by a CMS and be fully responsive down to a small mobile screen along with being able to handle retina images on high DPI screens.

    My role, involved coding the front end of the site, including the layouts for the low screen size and assisting in the development of the admin interface towards the end of the project.

    ### Omgito

    Omgito is a social platform for capturing, sharing and discussing TV moments. I was responsible for the majority of the front and back end development on the project. The application encompesses a number of features typical of a social network, such as users interacting with each other, activity feeds and posting to other social platforms (Twitter and Facebook).

    ### Mantle

    Mantle is an upcoming platform for pension fund management. In order for the client to obtain funding, a static demo had to be made. We decided to create front end code that could be reused in the final product so I created a small Rails App and used Haml, Scss and Coffeescript for everything, including the integration of Highcharts. As a demo, it also needed to work offline and be able to fit within the screen of an iPad.

    ### Digital Circle

    Digital Circle is a site for Northern Ireland's Creative Industry to share events, discussions, job openings and other information. I worked on the front end build of the project whilst assisting with some of the back end development 
    that fed data to the views. 

    ## Experience:

    ### Rumble Labs - Web Developer: April 2011 - April 2013

    At Rumble Labs, I've worked on a number of different projects, mostly focusing on web applications for clients, but I have also worked on Rumble's web applications, (Onotate and other pirvate internal applications). My duties include both the front and backend development on client projects. I've been the major contributor in the development of a number of projects including social networks and data dashboard applications.

    My skillset of being able to write clean and valid markup, CSS and JavaScript in preprocessors allows me to work on the majority of the user facing code whilst my knowledge of Rails lets me build out a good portion of the main functionality of the application. Although my experience of Rails was limited when I started, with each project I have learnt a lot by working on a number of tasks that challenge my abilities.

    ### Apple Retail - Specialist: September 2008 - May 2011

    At Apple, my job involved sales of all of the Apple product range along with solving technical issues and answering questions from customers. During my time there, I became one of the most experienced staff members and I used my knowledge of web development and the creative industries to better help my customers.

    ### Bluecube Interactive - Placement Student June 2009 - 2010

    Bluecube Interactive is part of the AV Browne group, one of Ireland's leading advertising agencies. Working in the Belfast office with some of Ireland's largest companies, I contributed to projects which including websites, flash banners, HTML email campaigns and other marketing materials.

    [Download as a PDF](/tommy-palmer-cv.pdf).