Date: 10 May 2015
Summary: During the month of January, the GOV.UK team was allowed to work on anything we wanted to, as long as it improved GOV.UK
Heading: Firebreak
Title: Firebreak
id: 9

- @extrahead = capture_haml do
  %link{:href => "/css/9-firebreak.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
  %script{ :src => "http://use.typekit.com/swl5ylw.js", :type => "text/javascript" }

%header
  %h1
    Firebreak

%section#main
  :markdown
