Title: Web Developer

%section#index
  - latest_articles.each do |post|
    %article.post
      %h1
        %a{:href=>"#{post.abspath}"} #{latest_articles.index(post)+1}. #{post.metadata("title")}
    