Title: Web Developer living in London
Description: Tommy Palmer is a Web Developer who works at Deliveroo in London.
Keywords: Tommy, Palmer, Ruby, Rails, Sinatra, Web, Developer, HTML, CSS, JS, Javascript, GDS, Government, Digital, Serivde, London, Blog, Article, Design, London, Start Up

- @extrahead = capture_haml do
  %script{ :src => "http://use.typekit.com/atp3yvw.js", :type => "text/javascript" }

%section#index
  :markdown
    I'm Tommy Palmer, a developer living in London and working at [Deliveroo](https://deliveroo.uk/).
  %ul
    - latest_articles(0).each do |post|
      %li
        %article.post
          %h1
            %a{:href=> post.abspath }
              = post.metadata("title")
