Title: Web Developer & Designer from Belfast, Northern Ireland
Description: Tommy Palmer is a Web Developer who works with Ruby on Rails at Rumble Labs in Belfast, Northern Ireland.
Keywords: Tommy, Palmer, Rails, Web, Developer, HTML, CSS, Ruby, Belfast, Rumble, Labs, Blog, Article, Design

- @extrahead = capture_haml do   
  %script{ :src => "http://use.typekit.com/atp3yvw.js", :type => "text/javascript" }

%section#index
  %p
    I'm Tommy Palmer, a developer and designer from Belfast, Northern Ireland
  %ul
    - latest_articles.each do |post|
      %li
        %article.post
          %h1
            %a{:href=> post.abspath } 
              #{post.metadata("title")}
