Title: Web Developer & Designer living in London
Description: Tommy Palmer is a Web Developer who works with Ruby on Rails at Rumble Labs in London.
Keywords: Tommy, Palmer, Rails, Web, Developer, HTML, CSS, Ruby, Belfast, Rumble, Labs, Blog, Article, Design, London, Start Up

- @extrahead = capture_haml do   
  %script{ :src => "http://use.typekit.com/atp3yvw.js", :type => "text/javascript" }

%section#index
  %p
    I'm Tommy Palmer, a developer and designer living in London.
  %ul
    - latest_articles.each do |post|
      %li
        %article.post
          %h1
            %a{:href=> post.abspath } 
              = post.metadata("title")
