Title: Web Developer & Designer from Belfast, Northern Ireland

%section#index
  %ol{:reversed => true}
    - latest_articles.each do |post|
      %li
        %article.post
          %h1
            %a{:href=>"#{post.abspath}"} #{post.metadata("title")}