Title: Info

- @extrahead = capture_haml do   
  %script{ :src => "http://use.typekit.com/atp3yvw.js", :type => "text/javascript" }

%section#info
  %section#avatar
    %img{:src => "/images/build.jpg"}
  %section#main
    :markdown
      # Hi, I'm Tommy

      I'm a web developer who works at [GDS](https://gds.blog.gov.uk/). I used to work for [Chillibean](http://chillibean.tv) and [Rumble Labs](http://rumblelabs.com).

      I mostly work with Ruby on Rails.

      I spend my days [coding](https://github.com/tommyp), [listening to obscure electronic music](https://soundcloud.com/tommypalm/likes), [tweeting](http://twitter.com/tommypalm) and [exploring London](http://foursquare.com/tommypalm).
    
      Say hello - [hi@tommyp.org](mailto:hi@tommyp.org).

    %p#credit
      Photo from <a href="http://2012.buildconf.com/">Build 2012</a>.
      Taken by <a href="http://twitter.com/fillyc">Filly</a>.
