Date: 4 April 2013
Summary: I'm moving to London
Heading: Moving On
Title: Moving On
id: 7

- @extrahead = capture_haml do  
  %link{:href => "/css/7-moving-on.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
  %script{ :src => "http://use.typekit.com/bsk3qna.js", :type => "text/javascript" }

%header
  .circle
    .inner
  %h1
    Moving On

%section#main
  :markdown
    At the end of April, I'll be making the biggest change to my life so far and moving from my hometown of Belfast, to London. At the same time, I'll be leaving [Rumble Labs](http://rumblelabs.com) and joining the team at [MUBI](http://uk.mubi.com). 

    I've spent the last two years working in Rumble, learning new things every day and tackling new challenges. It's been the best job I've ever had and I'm sad to be leaving, but at the same time I'm looking forward to a change of scenery and the new experiences and challenges that come with a new job.

    In equal measures, I'm both excited and nervous, but moving away from Belfast is something I've been thinking of doing for a while. When I look back at my life, this could be the best decision or the biggest fuck up I've ever made. But I won't know unless I do it.

    Who knows, maybe I'll be back.