Date: 21 Jan 2011
Summary: Now that I've finished Uni, I'm becoming a Rumbler.
Heading: So you might have heard...
Template: article
Title: So you might have heard..

- @extrahead = capture_haml do 
  
  %link{ :href => "/css/so-you-might-have-heard.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }

%section#duster
  %ul#fingers
    %li
      %span#first.finger
    %li
      %span.finger
    %li
      %span.finger
    %li
      %span#last.finger
  %span#semicircle
  %span#innerpalm
  
%section#main
  %h1 So you might have heard