Date: 21 Jan 2011
Summary: Now that I've finished Uni, I'm becoming a Rumbler.
Heading: So you might have heard&hellip;
Title: So you might have heard&hellip;

- @extrahead = capture_haml do   
  %link{ :href => "/css/so-you-might-have-heard.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
  %script{ :src => "http://use.typekit.com/kmu4ycw.js", :type => "text/javascript" }
    

%h1 So you might have heard...
%h2 I'm becoming a Rumbler.
%section#main
  %p
    Recently, it become public knowledge that I have donned a lab coat and joined the team at
    %a{:href => "http://rumblelabs"} Rumble Labs
    as a Web Developer. 
  %p
    A few weeks ago they announced their switch to Rails with
    %a{:href => "http://davidjrice.co.uk"} David Rice
    joining the company. After playing with Rails on and off over the final 2 years of University, Dave offered me some part time work just after
    %a{:href => "http://buildconf.com"} Build 2010
    to help increase my Rails knowledge. It was a fantastic opportunity and helped me get to a more comfortable level with web development in Ruby in order to tackle my final project.
  %p
    My project was called
    %a{:href => "http://todaytheworldis.com"} Today The World Is
    and was concieved as a different way to look at the news. I knew from the start that I was doing it all in Rails simply because that's what I knew. As I worked on it, it started to become a live infographic fulfilling the same purpose. It got a few thousand hits and I was pretty proud of it. It taught me a lot about Ruby, Rails and Web Development in general. My project got me a 2:1 in my degree and over the the last four years I've learnt a massive amount.
  %p
    I'm glad to be finished Uni (even if I will miss the Friday lectures with 
    %a{:href => "http://webstandardistas"} Nik and Chris
    of the Standardistas), but I'm even more glad to be joining a team like Rumble. It's the end of my education and the start of my professional career and I couldn't be happier about where I am.
  %p
    Until next time.
  
  
