Date: 02 September 2011
Summary: 4 years ago, the web was a different place. I was being taught tables and Visual Basic. I got my job at Rumble because I learnt Ruby and Rails by myself. Web (design) education needs to change.
Heading: We don't need no outdated education
Title: We don't need no outdated education
id: 3

- @extrahead = capture_haml do  
  %link{ :href => "../css/teaching-the-web.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
  %script{ :src => "http://use.typekit.com/vbq2wvm.js", :type => "text/javascript" }

%section#main
  %p
    4 years ago almost to the day, I started Interactive Multimedia Design. The course, although good was already outdated from the start. We were being taught tables and Dreamweaver. In 2nd year we learnt Visual Basic. I recently graduated and got a job as a 
    %a{:href => "so-you-might-have-heard"} Web Developer
    spending most of my time working with Rails. When I was starting Uni, Rails was on Version 1.2 and there was probably not a lot jobs involving Rails anywhere outside of the valley.
    
  %p
    Teaching design for the web may work for some in it's current format. It worked for me - I ended up in a job. There's a lot of it, that
    %i could
    be done better. 
    
  %p
    A web design course should be composed of a few different things, practical and theory are the two main ones. Practical concepts to teach would be technologies, HTML, CSS, even JS - your bread and butter and making a website. Theory should cover design principles such as grid systems, colour theory, typography. These will and should overlap. Being able to say why a Serif typeface is better for body copy and explaining what's the difference between a bad font stack and a good font stick is, is one of these areas. 
    
  %p
    All of this could be fine for our students, but ideally we need a reading list right from the start. The reading list needs to supplement what they're learning through the year. They need books like 
    %a{:href => "http://www.webstandardistas.com/book/"} HTML and CSS Web Standards Solutions: A Web Standardistas Apporach
    and <a href="http://www.amazon.co.uk/Grid-Systems-Graphic-Design-Typographers/dp/3721201450/ref=sr_1_1?ie=UTF8&qid=1315519010&sr=8-1">Grid Systems in Graphic Design: A Handbook for Graphic Artists, Typographers, and Exhibition Designers</a>, I'm also sure there's a lot more out there that should be on the reading list and there's probably a lot of overlap with a good portion of what's on 
    %a{:href => "http://jasonsantamaria.com/reading/"} here
    that would be applicable to our students. 
    
  %p
    This being the web though, they should really be reading a lot of blogs. In an ideal world, they would be subscribed to RSS feeds 
    %b before
    they start this course. They need to be reading the obvious sites and blogs from day one - <a href="http://daringfireball.net">Daring Fireball</a>, <a href="http://alistapart.com">A List Apart</a>, <a href="http://markboultondesign.com/blog/">Mark Boulton Design</a>, <a href="http://contrast.ie/blog">Contrast's blog</a>, <a href="http://blog.frankchimero.com/">Frank Chimero's blog</a>, <a href="http://andyrutledge.com/design-view.php">Andy Rutledge's blog</a>. The important thing to remember here is that we're catering for a lot of beginners, so sites such as
    %a{:href => "http://smashingmagazine"} Smashing Magazine
    will absolutely come in handy. 
  
  %p
    Our students also need to be blogging from the start. It'll help them learn how to build a site and make use of basic HTML tags like a, b, p and img. The main thing it will help our students with is writing - which as 
    %a{:href => "http://gettingreal.37signals.com/ch08_Wordsmiths.php"} 37signals
    rightly tells us, is important to be able to write as it comes with good communication and just generally, good organisation of thought.
  %p
    We're missing a key component in our course though. The students obviously need to hand in something to judge their performance
  %p
    So we have our five cornerstones of what we need: Practical, Theory, Reading, Learning and Experimentation.
    So that's the ground work. We also need some good assignments for our students to work on, something will make use of everything they learn. - 
    
  %h2 1st Year &emdash; The Basics
  %ul
    %li
      &ndash; Practical
      %ul
        %li Intro to the Web - how a website works, directories, external links, good practices of markup, browsers, etc.
        %li HTML
        %li CSS
    %li
      &ndash; Theory
      %ul
        %li Intro to Design - good design vs bad design, history of design, grid systems, design in other fields, etc.
        %li Examples of Good interaction design - breaking them down and explaining why they're good.
        %li Typography and Colour Theory - explaining why certain typefaces and colours work better with each other, typography hierarchy in information architecture.
    %li
      &ndash; Deliverables
      %ul
        %li Build up skills by marking up a piece of text, for example a bio about the student or some content given to them.
        %li Each week, as their skills build up, they should be able to add more and more markup to the piece of content.
        %li Give the students a set of content and the list of pages. Make them design a static site in an interesting way.