Date: 30 June 2011
Summary: 4 years ago, the web was a different place. I was being taught tables and Visual Basic. I got my job at Rumble because I learnt Ruby and Rails by myself. Web (design) education needs to change.
Heading: We don't need no outdated education
Title: We don't need no outdated education
id: 3

- @extrahead = capture_haml do  
  %link{ :href => "../css/teaching-the-web.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
  %script{ :src => "http://use.typekit.com/vbq2wvm.js", :type => "text/javascript" }
    

%section#main
  %p
    4 years ago almost to the day, I started Interactive Multimedia Design. We were being taught tables and Dreamweaver. In 2nd year we learnt Visual Basic. I recently graduated and got a job as a 
    %a{:href => "so-you-might-have-heard"} Web Developer
    spending most of my time working with Rails. When I was starting Uni, Rails was on Version 1.2 and there was probably not a lot jobs involving Rails anywhere outside of the valley.
    
  %p
    Teaching design for the web may work for some in it's current format. It worked for me - I ended up in a job. There's a lot of it, that
    %i could
    be done better. 
    
  %p
    A web design course should be composed of two sides, practical and theory. Practical concepts to teach would be technologies, HTML, CSS, even JS - your bread and butter and making a website. Theory should cover design principles such as grid systems, colour theory, typography. These will and should overlap. Being able to say why a Serif typeface is better for body copy and explaining what's the difference between a bad font stack and a good font stick is, is one of these areas. So that's the ground work. We also need some good assignments for our students to work on, something will make use of everything they learn. - 
    
  %h2 1st Year &emdash; The Basics
  %ul
    %li - Practical
      %ul
        %li Intro to the Web - how a website works, directories, external links, good practices of markup, browsers, etc
        %li HTML
        %li CSS
    %li - Theory
      %ul
        %li Intro to Design - good design vs bad design, history of design, grid systems, design in other fields, etc
        %li Examples of Good interaction design - breaking them down and explaining why they're good
        %li Typography and Colour Theory - explaining why certain typefaces and colours work better with each other, typography hierarchy in information architecture 
    %li - Deliverables
      %ul
        %li Build up skills by marking up a piece of text, for example a bio about the student or some content given to them
        %li Each week, as their skills build up, they 
        %li Give the students a set of content and the list of pages. Make them design a static site in an interesting way.
        
  %p
    Now, 12 months later, all of our students should have a good foundation. 