Date: 30 June 2011
Summary: I've been playing LA Noire recently, and as a gamer, I can see that it changes games and interaction from now on
Heading: The Reason LA Noire Changes Everything
Title: The Reason LA Noire Changes Everything
id: 2

- @extrahead = capture_haml do   
  %link{ :href => "../css/the-reason-la-noire-changes-everything.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
  %script{ :src => "http://use.typekit.com/oqd8dne.js", :type => "text/javascript" }
    

%h1
  The Reason
  %span L.A. Noire
  Changes Everything
  
%section#main
  
  