Title: Work

- @extrahead = capture_haml do   
  %link{ :href => "css/work.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
  %link{ :href => "css/fancybox.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
  %script{ :src => "http://use.typekit.com/khl5oyk.js", :type => "text/javascript" }
  %script{ :src => "/js/jquery.js", :type => "text/javascript" }
  %script{ :src => "/js/fancybox.js", :type => "text/javascript" }
  :javascript
    $(document).ready(function() {
      $("a.zoom").fancybox();
    });

%section#content.work

  %section.intro
    :markdown
      I work with Ruby on Rails, but my skills extend between backend and frontend development. I prefer to do all my front end work in [Haml](http://haml.info/), [Scss](http://sass-lang.com/) and [Coffeescript](http://coffeescript.org/). I studied Interactive Multimedia Design at University of Ulster and finished the course with a Second class honours, upper division.

      I'm dissattisfied with the status quo and want to do great things.

      I work for [Rumble Labs](http://rumblelabs.com).

      Below is some of the work I've done.

  %hr/
  
  .projects
    %article.digital-circle
      .container
        %section.project-desc
          %h2 
            %a{:href => 'http://digitalcircle.org'} digital circle
          :markdown
            [Digital Circle](http://digitalcircle.org) represents the digital content industry in Northern Ireland. In 2011 Rumble Labs won the tender to create the new version of the site. I mostly worked on crafting the front end views. It was the first large Rails site I worked on and the first project I worked on as part of Rumble Labs.

          .visit
            %a{:href => 'http://digitalcircle.org'} 
              visit site &rarr;
        .gallery
          %a.zoom{:href => '/images/work/digitalcircle-home.png'}
            %img{:src => '/images/work/digitalcircle-home.png'}
          %a.zoom{:href => '/images/work/digitalcircle-event.png'}
            %img{:src => '/images/work/digitalcircle-event.png'}
          %a.zoom{:href => '/images/work/digitalcircle-business.png'}
            %img{:src => '/images/work/digitalcircle-business.png'}    
        .gallery.links
          %a{:href => 'http://digitalcircle.org'}
            %img{:src => '/images/work/digitalcircle-home.png'}
          %a{:href => 'http://digitalcircle.org/events'}
            %img{:src => '/images/work/digitalcircle-event.png'}
          %a{:href => 'http://digitalcircle.org/business'}
            %img{:src => '/images/work/digitalcircle-business.png'}    

    %article.rumble
      .container
        %section.project-desc
          %h2 
            %a{:href => "http://rumblelabs.com"} rumblelabs.com
          %h3
            Shortly after I joined&hellip;
          .body
            :markdown
              &hellip;Rumble Labs began work on a new, long overdue, [site](http://rumblelabs.com). Originally created with Nesta, we decided to port it to Rails a few months after it's launch. The site was also the first responsive site I worked on, with the pages having significant layout changes when viewed on a mobile device.
          .visit
            %a{:href => 'http://rumblelabs.com'} 
              visit site &rarr;
        .gallery
          %a.zoom{:href => "/images/work/rumblelabs.png"}
            %img{:src => '/images/work/rumblelabs.png'}
          %a.zoom{:href => "/images/work/rumblelabs-clients.png"}
            %img{:src => '/images/work/rumblelabs-clients.png'}
          %a.zoom{:href => "/images/work/rumblelabs-about.png"}
            %img{:src => '/images/work/rumblelabs-about.png'}
        .gallery.links
          %a{:href => "http://rumblelabs.com"}
            %img{:src => '/images/work/rumblelabs.png'}
          %a{:href => "http://rumblelabs.com/clients"}
            %img{:src => '/images/work/rumblelabs-clients.png'}
          %a{:href => "http://rumblelabs.com/about"}
            %img{:src => '/images/work/rumblelabs-about.png'}

        -#%section.mobile
        -#  %a{:href => "http://rumblelabs.com"}
        -#   %img{:src => "/images/work/rumble-iphone.png"}
      .clearfix

  %article.shorts
    .container
      %section.project-desc
        %h2 
          %a{:href => 'http://isitshortsweathertoday.com'} Is It Shorts Weather Today?
        :markdown
          After coming up with the idea as a joke with a friend, I spent a few hours one Sunday putting it together. It was originally a Rails app that used Barometer to query the city name provided by the user. Recently, I moved the logic over to JavaScript and threw away the Rails code, deciding to serve it via Sinatra instead.
        .visit
          %a{:href => 'http://digitalcircle.org'} 
            visit site &rarr;
      .img
        %img.desktop{:src => "/images/work/shorts.png"}
      .img.mobile
        %img{:src => "/images/work/shorts-mobile.png"}