Title: Work

- @extrahead = capture_haml do
  %link{ :href => "css/work.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
  %link{ :href => "css/fancybox.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
  %script{ :src => "http://use.typekit.com/atp3yvw.js", :type => "text/javascript" }
  %script{ :src => "/js/jquery.js", :type => "text/javascript" }
  %script{ :src => "/js/fancybox.js", :type => "text/javascript" }
  :javascript
    $(document).ready(function() {
      $("a.zoom").fancybox();
    });

%section#content.work

  %section.intro
    :markdown
      I work with Rails and Sinatra, but my skills extend between backend and frontend development. I studied Interactive Multimedia Design at University of Ulster and finished the course with a Second class honours, upper division.

      I work at [Deliveroo](https://deliveroo.co.uk/) as a Developer. I used to work for [GDS](https://gds.blog.gov.uk/), [Chillibean](http://chillibean.tv) and [Rumble Labs](http://rumblelabs.com).

      [Here is my CV](/tommy-palmer-cv.pdf).

      Below is some of the work I've done.

  %hr/

  .projects
    %article.hacks
      .container
        %section.project-desc
          %h2
            Hacks
          :markdown
            Some of my smaller 'hack' style projects:

            * [Soundkick](http://soundkick.tommyp.org/) - Enter your Songkick username and it pulls in results from Soundcloud for Artists who are playing at events that you're attending.
            * [Multifilter](http://tommyp.github.io/multifilter/) - A jQuery plugin to do filtering of a table based on multiple inputs.

    %article.govuk
      .container
        %section.project-desc
          %h2
            %a{:href => 'https://www.gov.uk/'} GOV.UK
          :markdown
            [GOV.UK](https://gov.uk) is billed as the best way to find government services and information for anyone living in the UK. Joining as part of a team on the Transition project, our work involved the development of several new applications and formats so that multiple government organisations could transfer their Users to GOV.UK. I mostly worked on the Finder format, which was initially built for multiple organisations to publish their specialist content such as [CMA](http://www.gov.uk/cma-cases), [AAIB](http://www.gov.uk/aaib-reports) and [DFID](https://www.gov.uk/international-development-funding).

            After Transition and our [firebreak](/firebreak) month, I joined a team helping to prepare the site for the UK General Election. As part of that team, I ported Policies to live within the [new Finder format](https://www.gov.uk/government/policies). After the Election, I worked as part of a team looking to improve interactions with local Government before moving onto rewriting one our publishing Applications for 3 months.

          .visit
            %a{:href => 'https://www.gov.uk/'}
              visit site &rarr;

    %article.lisson
      .container
        %section.project-desc
          %h2
            %a{:href => 'http://www.lissongallery.com/'} Lisson Gallery
          :markdown
            [Lisson](http://www.lissongallery.com) is a gallery based in London. Founded in 1967 is represents a number of artists in both London and Milan. They came to Rumble Labs looking for a new site, with the requirements focussing on good imagery on both HiDPI screens and on smaller scale devices. Designed by another company, I was responsible for implamenting the design in code and finding solutions to UX problems that arose only when the site was being used in a browser. I also assisted with the development of the Admin area using [Mercury Editor](http://jejacks0n.github.io/mercury/).

          .visit
            %a{:href => 'http://www.lissongallery.com/'}
              visit site &rarr;

        .gallery
          %a.zoom{:href => '/images/work/lisson-home.png'}
            %img{:src => '/images/work/lisson-home.png'}
          %a.zoom{:href => '/images/work/lisson-artists.png'}
            %img{:src => '/images/work/lisson-artists.png'}
          %a.zoom{:href => '/images/work/lisson-about.png'}
            %img{:src => '/images/work/lisson-about.png'}

        .gallery.links
          %a{:href => 'http://lisson.herokuapp.com'}
            %img{:src => '/images/work/lisson-home.png'}
          %a{:href => 'http://lisson.herokuapp.com/artists'}
            %img{:src => '/images/work/lisson-artists.png'}
          %a{:href => 'http://lisson.herokuapp.com/about'}
            %img{:src => '/images/work/lisson-about.png'}

    %article.omgito
      .container
        %section.project-desc
          %h2
            %a{:href => 'http://beta.omgito.com'} omgito
          :markdown
            [OMGITO](http://omgito.com/), or Oh My God I'm Totally Obsessed, is a social network based around the discussion of moments in TV shows. In 2012, Rumble Labs was given the task of developing the idea into a functional prototype. My responsibility, was working on the front end development of the application whilst contributing my ideas on the continual reworking of the UX.
          .visit
            %a{:href => 'http://beta.omgito.com'}
              visit site &rarr;

        .gallery
          %a.zoom{:href => '/images/work/omgito-home.png'}
            %img{:src => '/images/work/omgito-home.png'}
          %a.zoom{:href => '/images/work/omgito-series.png'}
            %img{:src => '/images/work/omgito-series.png'}
          %a.zoom{:href => '/images/work/omgito-got.png'}
            %img{:src => '/images/work/omgito-got.png'}
        .gallery.links
          %a{:href => 'http://beta.omgito.com'}
            %img{:src => '/images/work/omgito-home.png'}

    %article.digital-circle
      .container
        %section.project-desc
          %h2
            %a{:href => 'http://digitalcircle.org'} digital circle
          :markdown
            [Digital Circle](http://digitalcircle.org) represents the digital content industry in Northern Ireland. In 2011 Rumble Labs won the tender to create the new version of the site. I mostly worked on crafting the front end views. It was the first large Rails site I worked on and the first project I worked on as part of Rumble Labs.

          .visit
            %a{:href => 'http://digitalcircle.org'}
              visit site &rarr;
        .gallery
          %a.zoom{:href => '/images/work/digitalcircle-home.png'}
            %img{:src => '/images/work/digitalcircle-home.png'}
          %a.zoom{:href => '/images/work/digitalcircle-event.png'}
            %img{:src => '/images/work/digitalcircle-event.png'}
          %a.zoom{:href => '/images/work/digitalcircle-business.png'}
            %img{:src => '/images/work/digitalcircle-business.png'}
        .gallery.links
          %a{:href => 'http://digitalcircle.org'}
            %img{:src => '/images/work/digitalcircle-home.png'}
          %a{:href => 'http://digitalcircle.org/events'}
            %img{:src => '/images/work/digitalcircle-event.png'}
          %a{:href => 'http://digitalcircle.org/business'}
            %img{:src => '/images/work/digitalcircle-business.png'}

    %article.rumble
      .container
        %section.project-desc
          %h2
            %a{:href => "http://rumblelabs.com"} rumblelabs.com
          %h3
            Shortly after I joined&hellip;
          .body
            :markdown
              &hellip;Rumble Labs began work on a new, long overdue, [site](http://rumblelabs.com). Originally created with Nesta, we decided to port it to Rails a few months after it's launch. The site was also the first responsive site I worked on, with the pages having significant layout changes when viewed on a mobile device.
          .visit
            %a{:href => 'http://rumblelabs.com'}
              visit site &rarr;
        .gallery
          %a.zoom{:href => "/images/work/rumblelabs.png"}
            %img{:src => '/images/work/rumblelabs.png'}
          %a.zoom{:href => "/images/work/rumblelabs-clients.png"}
            %img{:src => '/images/work/rumblelabs-clients.png'}
          %a.zoom{:href => "/images/work/rumblelabs-about.png"}
            %img{:src => '/images/work/rumblelabs-about.png'}
        .gallery.links
          %a{:href => "http://rumblelabs.com"}
            %img{:src => '/images/work/rumblelabs.png'}
          %a{:href => "http://rumblelabs.com/clients"}
            %img{:src => '/images/work/rumblelabs-clients.png'}
          %a{:href => "http://rumblelabs.com/about"}
            %img{:src => '/images/work/rumblelabs-about.png'}
      .clearfix

  %article.shorts
    .container
      %section.project-desc
        %h2
          %a{:href => 'http://isitshortsweathertoday.com'} Is It Shorts Weather Today?
        :markdown
          After coming up with the idea as a joke with a friend, I spent a few hours one Sunday putting it together. It was originally a Rails app that used Barometer to query the city name provided by the user. Recently, I moved the logic over to JavaScript and threw away the Rails code, deciding to serve it via Sinatra instead.
        .visit
          %a{:href => 'http://isitshortsweathertoday.com'}
            visit site &rarr;
      .img
        %img.desktop{:src => "/images/work/shorts.png"}
      .img.mobile
        %img{:src => "/images/work/shorts-mobile.png"}
