@import url("https://use.typekit.net/qdj1kyu.css");
.header {
  border-bottom: 1px solid #fff; }
  .header li a {
    color: #fff; }

.earth {
  background-image: url("./earth.png");
  background-size: cover;
  height: 300px;
  width: 300px;
  margin: 0 auto; }

.content {
  color: #fff;
  width: 100%;
  margin: 50px auto; }

.title {
  font-size: 88px;
  font-family: "liquor-store", "Helvetica Neue", Arial, Sans-serif;
  text-align: center; }

.sagan {
  max-width: 800px;
  margin: 0 auto 40px; }
  .sagan blockquote,
  .sagan cite {
    border-left: none;
    font-family: "ff-meta-serif-web-pro", Georgia, Serif; }
  .sagan blockquote {
    padding: 1em;
    font-size: 1.618em;
    text-align: center; }
  .sagan cite {
    font-style: normal;
    text-align: center; }

.main {
  max-width: 500px;
  margin: 0 auto; }
  .main p {
    font-family: "ff-meta-web-pro", Helvetica, Sans-serif;
    font-size: 1.2em; }
  .main a {
    color: #fff;
    border-bottom: 1px solid #fff; }
    .main a:hover {
      color: #000;
      background: #fff;
      border-bottom: 1px solid #fff; }

@media screen and (max-width: 490px) {
  .content header h1 {
    font-size: 60px; }
  .sagan blockquote {
    font-size: 1.3em; } }
