/* basics */

$header-font-family: league-gothic, Helvetica, Sans-serif;

$main-font-family: proxima-nova, "Helvetica Neue", Arial, sans-serif;

@font-face {
  font-family: 'Pictos';
  src: url('/fonts/pictos-web.eot');
  src: url('/fonts/pictos-web.woff') format('woff'), url('/fonts/pictos-web.ttf') format('truetype'), url('/fonts/pictos-web.svg#webfontIyfZbseF') format('svg');
}

body {
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

/* type */

#content {
	color: #222;
}

h1 {
  font-size: 60px;
}

h1, h2, h3, h4, h5 {
  font-family: $main-font-family;
	padding-bottom: 0.5em;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 25px;
}

p, li, blockquote {
	font-family: $main-font-family;
	line-height: 1.5em;
}

p, ol, ul {
	padding-bottom: 20px;
}

p {
	font-size: 16px;
}

li {
	font-size: 14px;
}

ul {
	list-style: square;
}

ol {
	list-style: decimal-leading-zero;
}

blockquote {
	font-family: Georgia, Serif;
	padding: 10px 0px 10px 20px;
	border-left: 3px solid #999;
	font-size: 15px;
}

cite {
	font-style: italic;
	font-family: Georgia, Serif;
	font-size: 12px;
}

section#index {
  max-width: 60em;
  margin: 40px auto;
  ol {
    margin-left: 82px;
    list-style-type: decimal;
    li {
      font-family: $header-font-family;
      font-size: 60px;
      text-transform: uppercase;
      line-height: 0.8em;
      word-spacing: -0.3em;
      article.post {
        word-spacing: 0;
        h1 {
          font-weight: normal;
          font-family: $header-font-family;
          font-size: 60px;
          text-transform: uppercase;
          a {
            border-bottom: none;
          }
        }
      }      
    }
  }
}

#content {
  margin: 0 auto;
}

#content a{
	color: #000;
	border-bottom: 1px solid #000;
	text-decoration: none;
	transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}

#content a:hover{
	color: #666;
	border-bottom: 1px solid #666;
  transition: 0.3s linear;
	-webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}

/* header */

header#header {
	font-family: $header-font-family;
	text-transform: uppercase;
  max-width: 70em;
  border-bottom: 1px solid #1D1D1D;
	margin: 20px auto 0 auto;
}

header#header a {
  font-size: 37px;
  color: #1D1D1D;
  text-decoration: none;
}

nav {
  height: 36px;
  display: inline;
  ul {
  	list-style: none;
  	display: inline;
  	color: #1D1D1D;
  	li {
      font-family: $header-font-family;
    	line-height: 1em;
    	text-transform: uppercase;
    	color: #1D1D1D;
    	font-size: 37px;
    	display: inline;
    	margin-right: 16px;
    }
  }
}

nav#article {
  ul {
    li {
      margin-right: 0;
      margin-left: 16px;
      &.next {
        float: right;
      }
    }
  }
}

/* info */

section#info {
  margin: 20px auto;
  max-width: 61.5em;
  section#main {
    margin: 80px 0 0 1.5em;
    max-width: 30em;
    float: left; 
    p#jess, p#jess a {
      font-size: 12px;
      color: #acacac;
    }
    p#jess a {
      border-bottom: 1px solid #acacac;
    }
  }
  section#avatar {
    margin-right: 1.5em;
    width: 357px;
    height: 623px;
    float: right;
    background: url(/images/avatar.png) no-repeat;    
    background-size: cover;
  }
}

@media screen and (max-width: 1160px) {  
  header#header {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  section#main {
    padding: 0 1.5em;
  }
}

@media screen and (max-width: 940px) {  
  
  section#index {
    margin: 40px auto;
    ol {
      max-width: 70%;
      margin: 0 auto;
      li {
        font-size: 40px;
        article.post {
          line-height: 1.2em;
          h1 {
            font-size: 40px;
          }
        }
      }
    }
  }
  
  section#info {
    section#main {
      float: none;
      margin: 0 auto;
    }
    section#avatar {
      float: none;
      margin: 0 auto;
      width: 179px;
      height: 312px;
      background-size: 100%;
    }
  }
}



/* 404 */

.fouroh {
  max-width: 60em;
  margin: 0 auto;
  h1 {
   text-align: center;
   margin-top: 40px; 
  }
  a {
    display: block;
    margin: 40px auto 0;
    border-bottom: none !important;
    max-width: 436px;
    img {
      max-width: 100%;
    }
  }
}

/* footer */

footer {
  max-width: 60em;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 490px) {
  header#header {
    margin-top: 0;
    padding-bottom: 6px;
    nav {
      width: 60%;
      ul {
        li {
          text-transform: none;
          margin-right: 8px;
          a {
            height: 100%;
            width: 40px; 
            display: inline-block;
            &:before {
              font-family: 'Pictos';
              content: attr(data-icon);
              font-size: 40px;
              width: 40px
            }
            span {
              display: none;
            }
          }
          a.home {

          } 
          a.info {
   
          }
          a.prev {
   
          }
          a.next {
   
          }
        } 
      }
    }
    nav#article {
      width: 96px;
      margin-right: -6px;
      ul {
        li {
          margin-right: 0;
          margin-left: 8px;
        }
      }
    }
  }
  section#index {
    max-width: 100%;
    margin-left: 1em;
  }

  section#info {

  }
}

nav#article {
  float: right;
}
