/* 404 */

.fouroh {
  max-width: 60em;
  margin: 0 auto;
  h1 {
   text-align: center;
   margin-top: 40px; 
  }
  a {
    display: block;
    margin: 40px auto 0;
    border-bottom: none !important;
    max-width: 436px;
    img {
      max-width: 100%;
    }
  }
}