/* info */

section#info {
  margin: 20px auto;
  max-width: 61.5em;
  section#main {
    margin: 80px 0 0 1.5em;
    max-width: 30em;
    float: left; 
    p#credit, p#credit a {
      font-size: 12px;
      color: #acacac;
    }
    p#credit a {
      border-bottom: 1px solid #acacac;
    }
  }
  section#avatar {
    margin-top: 5.5em;
    margin-right: 1.5em;
    max-width: 20em;
    float: right;
    img {
      border: 5px solid rgba(#ccc, 0.5);
      width: 100%;
    }
  }
}

@media screen and (max-width: 1160px) {  
  header#header {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  section#main {
    padding: 0 1.5em;
  }
}

@media screen and (max-width: 940px) {  
  
  section#index {
    margin: 40px auto;
    ul {
      max-width: 70%;
      li {
        font-size: 40px;
        article.post {
          line-height: 1.2em;
          h1 {
            font-size: 40px;
          }
        }
      }
    }
  }
  
  section#info {
    section#main {
      float: none;
      margin: 0 auto;
    }
    section#avatar {
      float: none;
      margin: 40px auto;
      width: 15em;
    }
  }
}