section#index {
  max-width: 60em;
  margin: 40px auto;
  p {
    margin: 3em 0 0.8em 1em;
    font-size: 25px;
  }
  ul {
    margin: 0 1.5em;
    list-style-type: none;
    li {
      font-family: $header-font-family;
      font-size: 60px;
      text-transform: uppercase;
      line-height: 0.8em;
      word-spacing: -0.3em;
      article.post {
        word-spacing: 0;
        h1 {
          font-weight: normal;
          font-family: $header-font-family;
          font-size: 60px;
          text-transform: uppercase;
          a {
            border-bottom: none;
          }
        }
      }      
    }
  }
}

#content {
  margin: 0 auto;
}